@charset "ISO-8859-1";

html, body, .wrapper, #content {
	height: 100%;
}

#content {
	display: flex;
  	flex-direction: column;
}

#tab-contents {
	flex-grow: 1;
}

.tab-pane.active.show {
	height: 100%;
	
	display: flex !important;
	flex-direction: column;
}

/* Tree Map */
body {
    font: 10px sans-serif;
}
.spouse {
    fill: none;
    stroke: #1f78b4;
    stroke-width: 4;
}
.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}

/*Collapsible Tree Layout*/
.nodeGroup:hover rect.node{
	stroke: black;
	stroke-width: 2;
}

.overlay{
	background-color:#EEE;
}

.node rect {
	
}
   
.node circle {
  	fill: #fff;
  	stroke: steelblue;
  	stroke-width: 1.5px;
}
 
.node text {
  	font-size:10px; 
  	font-family:sans-serif;
}
 
.link {
  	fill: none;
  	/*stroke: #ccc;*/
  	/*stroke-width: 1.5px;*/
  	stroke: rgba(140, 140, 140, 1);
	stroke-width: 4;
}

.templink {
  	fill: none;
  	stroke: red;
  	stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 5px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* Sidebar Stuff
*//*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 265px;
  max-width: 265px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/*
Result Sidebar
*/

.resultbar {
  width: 289px;
  position: fixed;
  top: 0px;
  right: -289px;
  height: 100vh;
  z-index: 999;
  background: #1db992;
  /*background: #d4d4d4;*/
  color: #161618;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.resultbar.active {
  right: 0;
}


.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background:rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}


#dismiss {
    width: 25px;
    height: 25px;
    line-height: 35px;
    text-align: center;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
}

/*#content p a { color: }*/


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}


/* Navbar Stuff
*/


.container {
  margin-top: 10px;
}
.nav-tabs > li {
  position:relative;
}
.nav-tabs > li > a {
  display:inline-block;
}
.nav-tabs > li > span {
  display:none;
  cursor:pointer;
  position:absolute;
  right: 6px;
  top: 8px;
  color: red;
}
.nav-tabs > li:hover > span {
  display: inline-block;
}


/* Flexbox
*/
.flex-container {
  display: flex;
  flex-direction: column;
}

#searchresults {
	height: 100vh !important;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}

#searchresults_content {
	overflow-y: scroll !important;
}

.close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.openFamilyTreeButton, .expandSearchResultsButton {
	background-color:#ffffff;
	border-radius:7px;
	cursor:pointer;
	padding:3px 12px;
	float: right;
}

.expandSearchResultsButton {
	/*center the button*/
	width: 96%;
	margin-left: 2%;
	margin-right: 2%
}

.familty-tree-svg {
	-webkit-box-shadow: inset 3px 4px 30px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 3px 4px 30px -7px rgba(0,0,0,0.75);
	box-shadow: inset 3px 4px 30px -7px rgba(0,0,0,0.75);
}

#tab-contents {
	width: 100%;
}

.fullscreenDiv {
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	zIndex: 999;
}

.fullscreenButton {
	position:absolute; 
	top:7px; 
	left:7px;
}

.loadingFeedback {
	position:absolute; 
	top:7px; 
	left:56px;
}

.nodeButton {
	stroke: black;
	fill: rgba(0,0,0,0);
	cursor: pointer;
}

.mouseHoverPointer {
	cursor: pointer;
}

.mouseHoverDefault {
	cursor: default;
}

.chosenResultCard {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	background: white;
	margin-bottom: 17px;
	
	padding: 7px;
	
	transition: background 0.5s;
}

.chosenResultCardSubDiv {
	margin-left: 0px;
	
	background: rgba(0, 0, 0, 0);
	pointer-events: none;
}

.chosenResultCard:hover {
	/*background: rgba(166, 206, 227, 0.71);*/
}

.intermediateSearchResult {
	margin-right: 4px; 
	margin-left: 0px;
	margin-top: 0px; 
	margin-bottom: 4px;
	
	transition: background 0.5s;
}

.row {
	background: rgba(0, 0, 0, 0);
}

.intermediateSearchResult:hover {
	/*background: rgba(166, 206, 227, 0.71) !important;*/
}

.disabled {
	pointer-events: none;
}